<template>
   <div class="home grid">
      <div class="home-title">
         <h2>Products</h2>
      </div>

      <FetchAllProducts #default="{ products }">
         <template v-for="product in products">

            <ProductListing
               :product="product"
               :key="product.productId"
            ></ProductListing>

         </template>
      </FetchAllProducts>

   </div>
</template>

<script>
// APP
// import { mapActions, mapGetters } from 'vuex'


export default {
   name: 'home',

   // computed: {
   //    ...mapGetters(['getAllProducts'])
   // },
   // watch: {
   //    getAllProducts: {
   //       immediate: true,
   //       handler () {
   //          this.fetchAllProducts()
   //       }

   //    }
   // },
   // methods: {
   //    ...mapActions(['fetchAllProducts'])
   // },
   async mounted () {
      // await this.fetchAllProducts()
      // console.log(this.getAllProducts, "hahah")
   },
}
</script>
<style scoped>
</style>
