<template>
   <div class="page-not-found grid">
      <h1>{{errorMessage}}</h1>
      <div>
         <button
            @click="$router.push({name:'home'})"
            class="
            primary
            btn-404"
         >Back Home</button>
      </div>
   </div>
</template>

<script>
export default {
   name: 'PageNotFound',
   props: {
      errorMessage: {
         type: String,
         default: 'Oh no! page not found.'
      },
   },
}
</script>

<style scoped>
.btn-404 {
   width: 120px;
   height: 40px;
   border: none;
   color: white;
   border-radius: 3px;
   font-size: 14px;
   outline: unset;
}
</style>