<template>
   <div class="product grid">
      <div class="grid grid-two-cols-left">
         <div
            class="back-icon pt-7 link text-left"
            @click="$router.push({name:'home'})"
         >
            <img :src="require(`@/assets/svg/arrow-long-left.svg`)" />
         </div>
         <div class="product-title fw-bold fs-24 text-center">
            {{ productData.productName }}
         </div>
      </div>

      <div class="product-list grid bg-light-blue pa-30 mt-30">
         <div class="grid grid-two-cols-right">
            <div class="product-name text-left">
               <input
                  type="text"
                  class="fs-16 bg-light-blue "
                  :value="productData.productName"
                  :disabled='!productTitleEdit'
                  :class="productTitleEdit?'bg-white':''"
                  @input="updateProduct($event.target.value, 'title')"
               >
            </div>
            <div class="product-description-edit-icon text-right">
               <img
                  :src="require(`@/assets/svg/${titleEditIcon}.svg`)"
                  class="link"
                  @click="productTitleEdit=!productTitleEdit;productdescriptionEdit=false"
               />
            </div>
         </div>
         <div class="
                  grid
                  grid-two-cols-right
                  pt-20">
            <div class="product-name fs-16 text-left">
               <textarea
                  cols="30"
                  class="fs-16 bg-light-blue "
                  rows="8"
                  :value="productData.productShortDescription"
                  :disabled='!productdescriptionEdit'
                  :class="productdescriptionEdit?'bg-white':''"
                  @input="updateProduct($event.target.value, 'description')"
               ></textarea>

            </div>
            <div class="product-description-edit-icon text-right">
               <img
                  :src="require(`@/assets/svg/${descriptionEditIcon}.svg`)"
                  class="link"
                  @click="productdescriptionEdit=!productdescriptionEdit;productTitleEdit=false"
               />
            </div>
         </div>
      </div>
   </div>
</template>
<script>
import store from '@/store'
export default {
   name: 'product',
   data () {
      return {
         productTitleEdit: false,
         productdescriptionEdit: false,
      }
   },
   computed: {
      productData () {
         return store.getters['getProductId'](this.$route.params.productId)[0]
      },
      editProductTitle () {
         return this.productTitleEdit
      },
      editProductDesription () {
         return this.productDescriptionEdit
      },
      titleEditIcon () {
         return this.productTitleEdit ? 'check' : 'pencil'
      },
      descriptionEditIcon () {
         return this.productdescriptionEdit ? 'check' : 'pencil'
      }
   },
   methods: {
      updateProduct (value, property) {
         if (property === 'title') {
            this.productData.productName = value
            store.dispatch('updateProduct', { id: this.productData.productId, data: this.productData })
         } else {
            this.productData.productShortDescription = value
            store.dispatch('updateProduct', { id: this.productData.productId, data: this.productData })

         }
      }
   },
}
</script>
<style scoped>
.product {
   margin-top: 30px;
}
input,
textarea {
   border: none;
   outline: none;
   color: #2699fb;
   padding: 10px;
   width: 90%;
   font-size: 16px;
   font-family: inherit;
}
</style>
