<template>

   <div
      v-on="$listeners"
      v-bind="$attrs"
      class="
      product-list
      grid
      grid-two-cols-right
      bg-light-blue
      pa-15"
      :key="product.productId"
   >
      <div class="product-name fw-700 text-left pl-15">
         {{product.productName}}
      </div>
      <div
         class="product-list-icon link"
         @click="viewProduct(product.productId)"
      >
         <img :src="require(`@/assets/svg/arrow-right.svg`)" />
      </div>
   </div>

</template>

<script>
export default {
   name: 'ProductListing',
   inheritAttrs: false,
   props: {
      product: {
         type: Object,
         required: true
      },
   },
   methods: {
      viewProduct (id) {
         this.$router.push({ name: 'product', params: { productId: id } })
      }
   },

}
</script>

<style lang="scss" scoped>
</style>