<template>
   <div id="app">
      <div class="page-wrapper">
         <router-view :key="$route.path" />
      </div>
   </div>
</template>

<style lang="scss">
#app {
   font-family: "Open Sans", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-align: center;
   color: #2699fb;
}
a {
   font-weight: bold;
   color: #2c3e50;
   &.router-link-exact-active {
      color: #42b983;
   }
}
.page-wrapper {
   width: 375px;
   display: grid;
   margin: 0 auto;
}
.grid {
   display: grid;
   row-gap: 10px;
}
.grid-two-cols-right {
   grid-template-columns: 6fr 1fr;
   align-items: center;
}
.grid-two-cols-left {
   grid-template-columns: 1fr 6fr;
}
.fs-16 {
   font-size: 16px;
}
.fs-24 {
   font-size: 24px;
}
.fw-700 {
   font-weight: 700;
}
.fw-bold {
   font-weight: bold;
}
.bg-light-blue {
   background: #f1f9ff;
}
.pa-15 {
   padding: 15px;
}
.pa-30 {
   padding: 30px;
}
.pl-15 {
   padding-left: 15px;
}
.pt-5 {
   padding-top: 5px;
}
.pt-7 {
   padding-top: 7px;
}
.pt-20 {
   padding-top: 20px;
}
.mt-30 {
   margin-top: 30px;
}

.text-center {
   text-align: center;
}
.text-left {
   text-align: left;
}
.text-right {
   text-align: right;
}
.primary-color {
   background: #2699fb;
}
.primary {
   background: #2699fb;
}
.bg-white {
   background: #fff;
}
.link {
   cursor: pointer;
}
</style>
