<template>
   <div>
      <img
         v-on="$listeners"
         v-bind="$attrs"
         :src="require(`@/assets/svg/arrow-long-left.svg`)"
      />
   </div>
</template>

<script>
export default {
   name: 'ImageIcon',
   inheritAttrs: false
}
</script>

<style lang="sass" scoped>
</style>